.Body-header{

    width: 100%;
    height: 3.50rem;
    display: flex;
    align-items: center;
    justify-content:start;
    padding: 1rem;
}

.cotainer-logo{
    padding: 0px 0px;
    margin: 0px 0px;
}

.Logo-principal{
    width: 120px;
    height: 48px;
}
.Body-main{
    background-color: aquamarine;
    border: 1px solid black;
}
.input-section{
    background-color: bisque;
}
.formulario-section{

}
.textarea-entrada{

}

.section-warning{

}
.section-buttons{

}