body {
    background: #F3F5FC;
}

.Body-header {
    width: auto;
    height: 3.50rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
}

.cotainer-logo {
    width: 2rem;
    height: 3rem;
    padding: 0px 0px;
    margin: 0px 0px;
}

.Body-main {
    height: auto;
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;    
    width: auto;
}

.input-section {
    width: 100%;
    margin-bottom: 4rem;
}

/* .formulario-section{
 
} */
.textarea-entrada {
    width: 100%;
    color: #0A3871;
    resize: none;
    border: none;
    min-height: 14rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.section-warning {
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
}

.warning-icon {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.text-warning {
    padding: 1rem 0rem;
    color: #747980;
}

.section-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: auto;
    max-height: 8rem;
}

.button-Encriptar {
    background-color: #0A3871;
    color: white;
    width: 100%;
    border: none;
    height: 4rem;
    border-radius: 1.5rem;
    
}

.button-Desencriptar {
    color: #0A3871;
    width: 100%;
    border: 0.25px solid #0A3871;
    height: 4rem;
    border-radius: 1.5rem;
    
}

.output-section {
    width: 20rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    margin: 0rem auto 2rem auto;
    padding: 0.5rem;
}



.container-texto {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Comme', sans-serif;
}

.container-texto h3 {
    font-size: 1.4rem;
    color: #343A40;
    font-weight: bold;
}

.container-texto p {
    text-align: center;
    font-size: 0.9rem;
    color: #495057;
}
.muñeno{
    display: none;
}
.container-texto-copiar {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;

}

.texto-encriptadoOut {
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    color: #495057;
    font-size: 1.2rem;
   font-family: 'Poppins', sans-serif;
    font-weight: 300;

} 

 .copiar-button {
    color: #0A3871;
    width: 20rem;
    border: 0.25px solid #0A3871;
    height: 4rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
} 

/* table */
@media (min-width: 700px) {
    .Body-header{
        padding: 2rem;
    }

    .Body-main{
        padding: 2rem;
    }
   
    .textarea-entrada{
    min-height: 30rem;
    font-size: 2rem;
    }
    .section-buttons{
        flex-direction: row;
        gap: 1;
    }
    .output-section{
        width: 43rem;
        padding: auto;
    }
    .output-section{
        min-height: 8rem;
        background-color: #FFFFFF;
        box-shadow: 1px 7px 15px 2px rgba(15,15,15,0.45);
        -webkit-box-shadow: 1px 7px 15px 2px rgba(15,15,15,0.45);
        -moz-box-shadow: 1px 7px 15px 2px rgba(15,15,15,0.45);
    }
    .container-texto h3{
        font-size: 1.7rem;
    }
    .container-texto p{
        font-size: 1.1rem;
    }
}

/* pc */
@media (min-width:1024px){
    .Body-main{
        padding: 0 0 0 4rem;
        display: flex;
        justify-content: center;
        margin: auto 4rem 4rem 10rem;
        gap: 4rem;
        max-height: 81vh
    }
    .input-section{
        margin: 0;
    }
    .textarea-entrada{
        min-height: 30rem;
    }
    .output-section{

        margin: 0;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 74vh;
    }
    .container-texto{
        display: none;
    }
}